<section style="background-color: {{ random(['#cc588f', '#0b6135', '#badca9', '#c4a90f', '#3f4ca3', '#df2273', '#69e050', '#64266f', '#d46982', '#9215ee']) }}" class="section modular-debug {{ page.header.class}}">
    {{ content|raw }}
</section>
