//VARIABLE OVERRIDES
$red-dark: #680A2C;
$red-light: #FF203B;
$purple-dark: #3D1382;
$purple-light: #9B62FF;
$creme: #FFF2F4;

//CUSTOM VARIABLES
$default-font-color: #000000;
$darkest-color: #000000;


// Only apply sticky when columns are shown side-by-side
@media screen and (min-width: 841px) {
#sidebar {
    position: sticky;
    top: 4rem;
    height: calc(100vh - 7rem);
    overflow-y: auto;
    }
}

//CUSTOM CSS
body {
    background-color: $creme;
}

h1 {
    font-family: Anybody;
    font-style: italic;
    font-weight: 900;
    color: $default-font-color;
    text-transform: uppercase;
}

h2 {
    font-family: Geist;
    font-weight: 900;
    color: $default-font-color;
    text-transform: uppercase;
}

h3 {
    font-family: Geist;
    font-weight: 900;
    color: $default-font-color;
    scroll-margin-top: 75px;
}

h4, h5, h6 {
    font-family: Geist;
    color: $default-font-color;
    scroll-margin-top: 75px;
}

p {
    font-family: Geist;
    color: $default-font-color;
}

a {
    color: $red-light;
}

a:hover {
    color: $red-light;
}

a:visited {
    color: $red-light;
}

ul {
    padding: 0;
    margin: 0 0 0 0.5rem;
}

ul ul {
    padding: 0;
    margin: 0 0 0 0.7rem;
}

li {
    list-style-type: none;
}

#header {
    background-color: $red-light;
    font-family: Geist;
    font-weight: 800;
    text-transform: uppercase;
    color: $red-light;
    margin: 10px;
    width: calc(100vw - 20px);
}


#header a {
    color: $creme;
}

#header a:hover {
    color: $red-dark !important;
}

#header a.active {
    color: $red-dark !important;
}

#header .navbar .logo img {
    height: 3.8rem;
}



.navbar .logo img {
    height: 500px;
}

body.header-fixed.header-animated #header.scrolled img {
    height: 4rem;
}

.color-fill {
    width: 100%;
    height: 100%;
}

.vr {
    border-left: 1px solid black;
    height: auto;
}

//dropdown menu styling
.desktop-menu li li{
    background-color: $red-light;
}

.modular-hero h1, .modular-hero h2 {
    color: white;
}
/*
.modular-hero .image-overlay::before {
    background-color: rgb(240, 14, 46);
    content: '';
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    left: 0;
}

.modular-hero .image-overlay::after {
    background-color: rgb(25, 37, 80);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
    position: absolute;
    top: 0;
    left: 0;
}
*/
.modular-hero #to-start {
     color: $creme;
}
// #start {
//     // background-color: #1ac55f;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-template-rows: 500px  500px;
// }

.modular-hero.hero-fullscreen {
    h1 {
        font-family: Anybody;
        text-align: left;
        font-weight: 900;
    }
    h2 {
        font-family: Anybody;
        text-align: left;
        font-weight: 900;
    }
}

.title-h1h2 h1 {
    font-family: Anybody;
    font-weight: 900;   
}

.modular-statement p, 
.modular-statement h2, 
.modular-statement h3, 
.modular-statement h4, 
.modular-statement h5, 
.modular-statement h6 {
     color: #FFFFFF;
}

.modular-statement .color-fill {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.modular-statement .image-overlay {
    background-position-y: center;
}

.modular-statement .image-overlay::before, .modular-statement .image-overlay::after {
    content: '';
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    left: 0;
}

.modular-statement .image-overlay::before {
    mix-blend-mode: darken;
}

.modular-statement .image-overlay::after {
    display: block;
    mix-blend-mode: lighten;
}

.modular-statement .image-overlay-red::before {
    background-color: #f01e37;
}

.modular-statement .image-overlay-red::after {
    background-color: #1d004b;
}

.modular-statement .image-overlay-green::before {
    background-color: #1ac55f;
}

.modular-statement .image-overlay-green::after {
    background-color: #1d004b;
}

.modular-statement .image-overlay-blue::before {
    background-color: #9b62ff;
}

.modular-statement .image-overlay-blue::after {
    background-color: #1d004b;
}

.modular-contacts .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 25px;
    margin-bottom: 25px;
}

.modular-contacts .card {
    font-family: Geist;
    border:  3px solid 25px;
    width: 18%;
    // border: none;
    // box-shadow: 5px 5px 5px lightgrey;
}

.modular-contacts .card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.modular-events h2 {
    text-align: center;
}

.modular-events .card-container {
    display: flex;
    justify-content: center;
    gap: 25px 25px;
    margin-bottom: 25px;
}

.modular-events .card {
    font-family: Geist;
    width: 30%;
    border: none;
}

.modular-events .card .card-title {
    font-weight: 800;
    font-size: 2rem;
    color: $red-light;
}

.modular-events .card .card-subtitle {
    font-weight: 600;
    font-size: 1rem;
}

.modular-events .card p {
    text-align: justify;
}

.modular-news h2 {
    text-align: center;
}

.modular-news .card-container {
    display: flex;
    justify-content: center;
    gap: 25px 25px;
    margin-bottom: 25px;
}

.modular-news .card {
    font-family: Geist;
    width: 46%;
    border: 3px solid $creme;
    border-radius: 25px;
    background-color: $creme;
    // box-shadow: 3px 3px 5px;
}

.modular-news .card .card-title {
    font-weight: 600;
    font-size: 1rem;
    color: $creme;
}

.form-tabs .tabs-nav a {
    border: 0 none;
    border-radius: 0;
    transition: none;
}

.form-tabs .tabs-nav a.active {
    border: 0 none;
    border-radius: 0;
    transition: none;
    background-color: $red-light;
}

.leaflet-container {
    z-index: 0;
}


.accordion .accordion-header {
    padding: 0;
}

//.accordion label:hover {
// 
//}

#footer {
    background-color: $red-light;
    padding: 20px;
}

#footer * {
    color: $creme;
}

//PSEUDOCLASSES
:target {
    animation-name: flash-text;
    animation-duration: 2s;
}

//CSS KEYFRAMES
@keyframes flash-text {
  from { 
      color: $red-light; 
  }
  to {
      color: $default-font-color;
  }
}
